<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AppConfig" value="https://msazure.pkgs.visualstudio.com/c7c910ac-8ab2-4064-960f-8ab3c6d2b227/_packaging/AppConfig/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
